<div class="table-responsive-lg">
    <table class="table">
        <thead>
        <tr>
            @for(item of tableHeaders; track $index){
                <th scope="col">{{item}}</th>
            }
        </tr>
        </thead>
        <tbody>
            @for(vuelo of flights; track $index){
                <tr>
                    <th scope="row">
                        <img [src]="vuelo.thumbnail" class="img-fluid" alt="thumbnail-aerolinea">
                        {{vuelo.companyName}}
                    </th>
                    <td>{{vuelo.airportLeave}}</td>
                    <td>{{vuelo.airportArrival}}</td>
                    <td>{{vuelo.price}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>